<header class="p-4 flex justify-center items-center">
  <div class="text-white flex justify-between items-center flex-1 max-w-screen-lg">
    <div class="text-xl">
        <a [routerLink]="'/'">AIQX Music Catalog</a>
    </div>
    <nav>
      <ul class="flex space-x-4">
        <li><a [routerLink]="'/'" [ngClass]="{'text-cl-primary': isCurrentRoute('/'), 'hover:text-cl-primary/50': true, 'transition-colors': true}">Home</a></li>
        <li><a [routerLink]="'/about'" [ngClass]="{'text-cl-primary': isCurrentRoute('/about'), 'hover:text-cl-primary/50': true, 'transition-colors': true}">About</a></li>
      </ul>
    </nav>
  </div>
</header>
